/*--FONTS--*/
/* latin-ext */
@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(https://fonts.gstatic.com/s/didactgothic/v11/v8_72sD3DYMKyM0dn3LtWv_TTS9ENtVKaiibjCpIzfo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(https://fonts.gstatic.com/s/didactgothic/v11/v8_72sD3DYMKyM0dn3LtWmYKogTrBb-Yb2DFwx30qLM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/*--END FONTS--*/

body {
  margin: 0;
  padding: 0;
  background-color: #38add9;
}

#app {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "nav";
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  height: 100%;
  width: 100%;
}

nav {
  grid-area: nav;
  background-color: #141414;
  grid-column: 1 / 21;
  grid-row: 1;
}

.nav {
  color: white;
  font-family: 'Didact Gothic', 'sans-serif';
  font-size: 1.5em;
}

.nav li {
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  display: inline-block;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.container {
  height: 100%;
  grid-column: 4 / 18;
  grid-row: 2 / 6;
  background-color: white;
  font-family: sans-serif;
  margin-bottom: 5%;
}

#bannerContainer {
  background-color: #b51f09;
  padding: 1em;
}

.banner {
  width: 100%;
}

header h1 {
  color: #2a2a2a;
  font-family: 'Didact Gothic', 'sans-serif';
  padding: 5% 8% 0% 8%;
  margin: 0;
}

header h2 {
  color: #b51f09;
  font-family: 'Didact Gothic', 'sans-serif';
  font-size: 2em;
  padding: 2% 8% 0% 8%;
  margin: 0;
}

.content {
  padding: 0% 8% 10% 8%;
  color: #2a2a2a;
  font-family: 'Didact Gothic', 'sans-serif';
  font-size: 1.5em;
}

a {
  color: #b51f09;
  font-weight: bold;
}

.success-message {
  color: #009bd3;
  font-weight: bold;
  display: block;
  margin: 1em;
}

.error-message {
  color: red;
  font-weight: bold;
}

form {
  font-family: 'Didact Gothic', sans-serif;
  margin: 3em;
  padding: 1em;
  display: inline-block;
  font-size: 1.2em;
}

.form-group {
  padding: .5em;
  text-align: right;
}

.form-group h2 {
  text-align: left;
}

.form-group input{
  margin-left: 1em;
  border: 1px, solid, black;
  border-radius: 4px;
  padding: .3em;
}

.comment-form form {
  width: 100%;
  color: #009bd3;
  padding: 0;
  margin: 0;
}

.comment-form .form-group {
  text-align: left;
  margin: 0;
  padding: 0;
}

.comment-form textarea {
  width: 100%;
  height: 10%;
  font-family: sans-serif;
  font-size: 0.8em;
  color: #2a2a2a;
}

button {
  background-color: #009bd3;
  border: none;
  color: white;
  text-decoration: none;
  padding: .75em;
  margin: .5em;
  cursor: pointer;
}

.wall {
  border: 2px solid #b51f09;
  max-width: 300px;
}

.wall h3{
  margin: .5em;
}

.wall p {
  margin: .5em;
  font-size: .75em;
}

.wall a {
  text-decoration: none;
  color: #b51f09;
}

.wall a:hover {
  text-decoration: underline;
  color: #009bd3;
}

.wall-header {
  max-height: 350px;
  max-width: 300px;
  overflow: hidden;
}

.wall-detail {
  max-width: 100%;
  border: 2px solid #b51f09;
}

.image{
  display: inline-block;
  position: relative;
}
.image div{
  display: block;      
  position: absolute;
}

.image div:hover {
  background-color: rgba(0, 155, 211, 0.5);
}

.image div p {
  visibility: hidden;
  color: white;
  font-size: 2.3em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.image div:hover p {
  visibility: visible;
}

.currentProgress {
  background-color: rgba(181, 31, 9, 0.5);
}

div .currentProgress p {
  visibility: visible;
}

.completed {
  background-color: rgba(181, 31, 9, 0.5);
}

#wallProgress100 {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
}

#wallProgress90 {
  top: 10%;
  left: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
}

#wallProgress80 {
  top: 20%;
  left: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
}

#wallProgress70 {
  top: 30%;
  left: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
}

#wallProgress60 {
  top: 40%;
  left: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
}

#wallProgress50 {
  top: 50%;
  left: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
}

#wallProgress40 {
  top: 60%;
  left: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
}

#wallProgress30 {
  top: 70%;
  left: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
}

#wallProgress20 {
  top: 80%;
  left: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
}

#wallProgress10 {
  top: 90%;
  left: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
}

.glyphicon {
  position: relative;
  display: inline-block;
  margin: .3em;
  height: 1.5em;
  width: 1.5em;
}

.glyphicon-star {
  background-image: url("../resources/glyphicons/star.png");
  background-repeat: no-repeat;
}

.glyphicon-star-empty {
  background-image: url("../resources/glyphicons/star-empty.png");
  background-repeat: no-repeat;
}

.message {
  font-size: 1em;
  color: #009bd3;
  font-weight: bold;
}

.comment {
  font-size: .9em;
  border: 1px solid black;
  padding: 0.5em;
  margin: 0.5em 0em 0.5em 0em;
}

.editButton {
  margin: .25em;
  padding: .5em;
  border-radius: .3em;
}

@media only screen and (max-width: 768px) {
  nav {
    background-color: #141414;
    grid-column: 1 / 21;
    grid-row: 1;
  }

  .nav {
    grid-column: 3 / 9;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1em;
  }

  .nav li {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    display: inline-block;
  }

  .nav a {
    color: white;
    text-decoration: none;
  }
  /* For mobile phones: */
  .container {
    grid-column: 1 / 21;
    grid-row: 2 / 11;
  }

  .content {
    padding: 1em;
    font-size: 1em;
  }

  .wall-header {
    max-height: 200px;
    max-width: 300px;
    overflow: hidden;
  }

  .wall-detail {
  max-width: 100%;
  border: 2px solid #b51f09;
  }

  .image div p {
    font-size: 3em;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  form {
    padding: 0.5em;
    display: inline-block;
  }

  .form-group {
    padding: 0.5em;
    width: 100%;
    display: inline-block;
    text-align: left;
  }

  .form-group input{
    border: 1px, solid, black;
    border-radius: 4px;
    padding: .3em;
  }

  .glyphicon {
    position: relative;
    display: inline-block;
    margin: .3em;
    height: 1.2em;
    width: 1.2em;
  }

  .glyphicon-star {
    background-image: url("../resources/glyphicons/star.png");
    background-repeat: no-repeat;
    background-size: 1.2em;
  }

  .glyphicon-star-empty {
    background-image: url("../resources/glyphicons/star-empty.png");
    background-repeat: no-repeat;
    background-size: 1.2em;
  }
}

@media only screen and (max-width: 400px) {
  .image div p {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
}