body {
  margin: 0;
  padding: 0;
  background-color: #009bd3;
}

#app {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  height: 100%;
  width: 100%;
}

nav {
  background-color: black;
  grid-column: 1 / 11;
  grid-row: 1;
}

.nav {
  grid-column: 3 / 9;
  color: white;
  font-family: sans-serif;
  font-size: 1.5em;
}

.nav li {
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  display: inline-block;
}

.nav a {
  color: white;
  text-decoration: none;
}

.container {
  height: 100%;
  padding: 3em;
  grid-column: 3 / 9;
  grid-row: 2 / 6;
  background-color: white;
  font-family: sans-serif;
}

.success-message {
  color: #009bd3;
  font-weight: bold;
  display: block;
  margin: 1em;
}

.error-message {
  color: red;
  font-weight: bold;
}

form {
  padding: 1em;
  display: inline-block;
}

.form-group {
  padding: .5em;
  text-align: right;
}

.form-group input{
  border: 1px, solid, black;
  border-radius: 4px;
  padding: .3em;
}

button {
  background-color: #009bd3;
  border: none;
  color: white;
  text-decoration: none;
  padding: 1em;
  cursor: pointer;
}

.wall {
  border: 2px solid #ff5d4f;
  max-width: 300px;
}

.wall h3{
  margin: .5em;
}

.wall p {
  margin: .5em;
}

.wall a {
  text-decoration: none;
  color: #ff5d4f;
}

.wall a:hover {
  text-decoration: underline;
  color: #009bd3;
}

.wall-header {
  max-height: 350px;
  max-width: 300px;
  overflow: hidden;
}

.wall-detail {
  max-width: 100%;
  border: 2px solid #ff5d4f;
}

.glyphicon {
  position: relative;
  display: inline-block;
  margin: .3em;
  height: 1.5em;
  width: 1.5em;
}

.glyphicon-star {
  background-image: url("../resources/glyphicons/star.png");
  background-repeat: no-repeat;
}

.glyphicon-star-empty {
  background-image: url("../resources/glyphicons/star-empty.png");
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  nav {
    background-color: black;
    grid-column: 1 / 11;
    grid-row: 1;
  }

  .nav {
    grid-column: 3 / 9;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
  }

  .nav li {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    display: inline-block;
  }

  .nav a {
    color: white;
    text-decoration: none;
  }
  /* For mobile phones: */
  .container {
    grid-column: 1 / 11;
    grid-row: 2 / 11;
    padding: 1.5em;
  }

  .wall-header {
    max-height: 200px;
    max-width: 300px;
    overflow: hidden;
  }

  .wall-detail {
  max-width: 100%;
  border: 2px solid #ff5d4f;
  }

  form {
    padding: 1em;
    display: inline-block;
  }

  .form-group {
    padding: .5em;
    width: 100%;
    display: inline-block;
    text-align: left;
  }

  .form-group input{
    border: 1px, solid, black;
    border-radius: 4px;
    padding: .3em;
  }

  .glyphicon {
    position: relative;
    display: inline-block;
    margin: .3em;
    height: 1.2em;
    width: 1.2em;
  }

  .glyphicon-star {
    background-image: url("../resources/glyphicons/star.png");
    background-repeat: no-repeat;
    background-size: 1.2em;
  }

  .glyphicon-star-empty {
    background-image: url("../resources/glyphicons/star-empty.png");
    background-repeat: no-repeat;
    background-size: 1.2em;
  }
}
